.custom-field-find-profile {
    margin-top: 12px;
}

.custom-input-field-profile {
    height: 40px;
    width: 298px;
    align-items: center;
    border-radius: 4px;
    color: var(--font-color-quartenary);
    padding-left: 17px;
}

.custom-input-field-profile::placeholder {
    font-size: 16px;
    color: var(--font-color-quartenary);
}