.header-container {
    width: 100%;
    height: 62px;
    background-color: var(--bg-color-primary);
    display: flex;
    align-items: center;
}

.content-header {
    font-size: 24px;
    margin-left: 41px;
    color: var(--font-color-quinternary);
}